/* app.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  color: #fff;
}

.form-container {
  width: 90%;
  background-color: #333;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  margin: 0;
  color: #956fdc;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select, #react-select-3-live-region {
  width: 100%;
  padding: 12px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
  box-sizing: border-box;
  } 

button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
  float: right;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.modal.show {
  display: block;
}
